<div>
  <form action="/weather" method="get">
    <input type="search" name="weatherSearch" id="weatherSearch">
    <input type="submit" value="Search">
  </form>
</div>

<div>
  <p>{{location}}</p>
</div>

<div>
  {{#each data}}
        <p>{{WeatherText}}</p>
        <p>Temp: {{Temperature.Metric.Value}} {{Temperature.Metric.Unit}}</p>
        <img src='/assets/images/{{WeatherIcon}}-s.png' style="width:20%"></img>
  {{/each}}
</div>
