<div class="title">
  {{ title }}
</div>
<div>
  <form action="/weather" method="get">
    <input type="search" name="weatherSearch" id="weatherSearch">
    <input type="submit" value="Search" id="searchButton">
  </form>
</div>
<div>
  <h2>{{location}}</h2>
</div>
<div>
  {{#each data}}
        <p>Weather: {{WeatherText}}</p>
        <p>Temperature: {{Temperature.Metric.Value}} {{Temperature.Metric.Unit}}</p>
        <img src='/assets/images/{{WeatherIcon}}-s.png' style="width:150px"></img>
  {{/each}}
</div>
